body {
    margin: 0%;
    padding: 0%;
    color: #484848;
    font-size: 14px;
    font-family: Circular, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

header, footer {
    width: 100%;
}

h6 {
    text-align: center;
    padding: 20px
}

.logo {
    text-align: left;
    padding-left: 20px;
}