.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.search-button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: 30px;
    justify-content: center;
}

.search-button:hover {
    opacity: 90%;
}

.locations, .amenities {
    height: 100%;
    width: 25%;
    padding-left: 50px;
}

.locations {
    border-left: 1px solid #DDDDDD;
}

h3 {
    font-weight: 600;
}

.popover{
    display: none;
    width: 100%;
    position: relative;
    margin-top: 17px;
    left: -51px;
    padding: 30px 50px 30px 0;
    z-index: 1;
    border-radius: 4px;
    border: 1px solid #DDDDDD;
}

.amenities > .popover > li {
    margin-left: 50px;
    margin-bottom: 11px;
}

.popover, .popover ul {
    list-style-type: none;
}

.locations:hover > .popover {
    display: block;
}

.amenities:hover > .popover {
    display: block;
}

.popover h2 {
    margin-top: 0px;
    margin-bottom: 6px;
}

.locations > .popover > li {
    padding-left: 52px;
}

.locations > .popover > li > ul > li {
    margin-bottom: 8px;
}